
@section Styles{
   
}
@section Scripts{
    <script src="~/plugins/counter-up-master/jquery.counterup.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/chart.js/chart.min.js"></script>
    <script src="~/plugins/curvedlines/curvedLines.js"></script>
    <script src="~/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script type="text/javascript">
        $(document).ready(setTimeout(function () {
            $('#inference-table').load("/PerimeterSecurity/ProcessImages");
        }, 7000));
    </script>
}
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Object of Interest Analysis</div>
        </div>
        <div class="col s10 m10 l10">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">New Model Detection - Last Seven Days</span>
                    <div id="inference-table">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
