@section Styles{
<style type="text/css">
    .carousel .indicators .indicator-item.active {
        background-color:#000;
    }
    .carousel .indicators .indicator-item {
        background-color: rgba(0,0,0,0.5);
    }
</style>

}



@section Scripts{
    <script src="~/plugins/counter-up-master/jquery.counterup.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/chart.js/chart.min.js"></script>
    <script src="~/plugins/curvedlines/curvedLines.js"></script>
    <script src="~/js/pages/ui-carousel.js"></script>
    <script src="~/plugins/peity/jquery.peity.min.js"></script>
    <script>

        function finishTraining() {
            alert("hi");
        }

        $(document).ready(function () {
            $('#retrain1').click(function () {
                $("#modal1").openModal({ dismissible: false });
            });
        });
        $(document).ready(function () {
            $('#retrain2').click(function () {
                $("#modal1").openModal({ dismissible: false });
            });
        });
        $(document).ready(function ()    {
            $('#retrain3').click(function () {
                $("#modal1").openModal({ dismissible: false });
            });
        });


    </script>
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Gate Image Analysis</div>
        </div>
        <div class="col s4">
            <div class="card ">
                <div class="card-content">
                    <span class="card-title">Location 1</span>
                    <div class="carousel carousel-slider" style="height:400px;">
                        <div class="carousel-fixed-item center with-indicators">
                            <a id="retrain1" class="btn waves-effect white grey-text darken-text-2">Retrain</a>
                        </div>
                        <a class="carousel-item" href="#one!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate11.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate12.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate13.jpg"></a>
                        <a class="carousel-item" href="#four!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate14.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card ">
                <div class="card-content">
                    <span class="card-title">Location 2</span>
                    <div class="carousel carousel-slider center" style="height:400px;" >
                        <div class="carousel-fixed-item center with-indicators">
                            <a id="retrain2" class="btn waves-effect white grey-text darken-text-2">Retrain</a>
                        </div>
                        <a class="carousel-item" href="#one!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate21.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate22.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate23.jpg"></a>
                        <a class="carousel-item" href="#four!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate24.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Location 3</span>
                    <div class="carousel carousel-slider center" style="height:400px;">
                        <div class="carousel-fixed-item center with-indicators">
                            <a id="retrain3" class="btn waves-effect white grey-text darken-text-2">Retrain</a>
                        </div>
                        <a class="carousel-item" href="#one!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate31.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate32.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate33.jpg"></a>
                        <a class="carousel-item" href="#four!"><img src="https://baseopsstorage.blob.core.windows.net/gateimages/gate34.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Retraining</h4>
            <p><font size="4">Retraining model. Please wait...</font></p>
            <div id="modalprogress" class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a asp-area="" asp-controller="PerimeterSecurity" asp-action="ApplyModel" class="modal-action modal-close waves-effect waves-green btn-flat ">Apply When Done</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>

        </div>
    </div>
</main>