@model IEnumerable<BaseOperations.Models.Event>

@*<table class="table">
    <thead>
        <tr>
            <th>
                Timestamp
            </th>
            <th>
                Image
            </th>
            <th>
                Object Present
            </th>
            <th>Gate Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Timestamp
            </td>
            <td>
                <img src="@item.ImageURL" width="300"/>
            </td>
            <td>
                @if (item.ContainsTruck ?? false)
                {
                <span style="font-size:48px; color: green;"><i class="fas fa-check-square"></i></span>
                }
                else
                {
            <span style="font-size:48px; color: red;"><i class="fas fa-times-circle"></i></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        </tr>
}
    </tbody>
</table>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Object Present
            </th>
            <th>
                Image
            </th>
            <th>
                Timestamp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Location 1
            </td>
            <td>
                <span style="font-size:48px; color: green;"><i class="fas fa-check-square"></i></span>
            </td>
            <td>
                <img src="https://baseopsstorage.blob.core.windows.net/truckimages/car_gate1_7_20191203-152607.jpg" width="300" />
            </td>
            <td>
                12/7/2019 9:55:39 PM
            </td>
        </tr>
        <tr>
            <td>
                Location 2
            </td>
            <td>
                <span style="font-size:48px; color: red;"><i class="fas fa-times-circle"></i></span>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Location 3
            </td>
            <td>
                <span style="font-size:48px; color: green;"><i class="fas fa-check-square"></i></span>
            </td>
            <td>
                <img src="https://baseopsstorage.blob.core.windows.net/truckimages/car_gate1_12_20191203-152609.jpg" width="300" />
            </td>
            <td>
                12/5/2019 7:03:14 AM
            </td>
        </tr>
    </tbody>
</table>