@model IEnumerable<BaseOperations.Models.Shipment>

@section Styles{
    <style>
      
    </style>
}
@section Scripts{
    <script src="~/plugins/counter-up-master/jquery.counterup.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/chart.js/chart.min.js"></script>
    <script src="~/plugins/curvedlines/curvedLines.js"></script>
    <script src="~/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/js/pages/dashboard.js"></script>   
    <script src="~/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/pages/table-data.js"></script>
    <script type="text/javascript">
        document.re
    </script>
}
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Supply Management</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Shipment Processing<a style="float:right;right:40px;" asp-area="" asp-controller="SupplyManagement" asp-action="AddShipment" class="waves-effect waves-light btn indigo m-b-xs">ADD NEW SHIPMENT</a></span>
                    <div id="shipment-table">@await Html.PartialAsync("ViewShipments", Model);</div>
                </div>
            </div>
        </div>
    </div>
</main>